<div class="subscribe-page page-wrap">
  <h2 class="subscribe-page__title">
    Newsletter
  </h2>
  <div class="subscribe-page__description">
    {% newsletter_subscribe_form %}
      {% if form.created_successfully? %}
        <div class="newsletter-description">{{ "Abonnez-vous à notre newsletter pour recevoir les dernières   nouveautés du restaurant." | t }}</div>
      {% else %}
        <h2 class="newsletter-description-oups">Oups…</h2>
        <div class="newsletter-description-error">{{ "Une erreur s'est produite lors de votre abonnement." | t }}</div>
      {% endif %}

      <input class="email-subscriber" id="subscriber_email" name="subscriber[email]" placeholder="Entrez votre email" type="text">
      
      {% unless form.created_successfully? %}
        <p class="subscriber-error">
          {{ form.error }}
        </p>
      {% endunless %}
    <br />
    <button class="submit-subscriber btn" name="button" type="submit"><span>{{ "S'abonner" | t }}</span></button>
  {% endnewsletter_subscribe_form %}
  
  </div>
</div>
