/*
* RestoReady v1.0
* Copyright 2014 MH Communication.
* Author MH Communication @MHCommunication
* Built with Sass - http://sass-lang.com/

* Some things to know about this file:
    - Sass is compiled on RestoReady's server so you don't need to convert it to CSS yourself
    - The output CSS is compressed and comments are removed
    - You cannot use @imports in this file
        * Use grunt or gulp tasks to enable @imports - https://github.com/Shopify/shopify-css-import
    - Helpers variables, mixins, and starter classes are provided. Change as needed.
    - The file is prepped with a CSS reset
*/
/* Table of Contents
==================================================
  Breakpoint and Grid Variables
  General Variables
  Sass Mixins
  Reset
  Grid Setup
  Helper Classes
  Links and Buttons
  Icons
  Color
  Proxy Color
  Style Full-visual theme -- RestoReady -- Défault mobile first
  Style Full-visual theme -- Breakpoint large - min 1024px
  Style Full-visual theme -- Breakpoint large - min 1350px
  Style Full-visual theme -- Breakpoint large - min 1500px
  Style Full-visual theme -- Breakpoint large - min 1730px
================================================== */
*, input, :before, :after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
// ==============================================================================
// #Breakpoint and Grid Variables
// ==============================================================================
$viewportIncrement: 1px;

$small: 480px;
$small-up: 480px;
$medium: 1023px;
$large: 1024px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/* The following are dependencies of csswizardry grid */
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large');
$breakpoint-has-push:  ('medium', 'medium-down', 'large');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large');

// ==============================================================================
// #General Variables
// ==============================================================================

/* Width variables */
$siteWidth: 1180px;
$gutter: 24px;
$gridGutter: 24px; // can be a %, but nested grids will have smaller margins because of it

/* Radius */
$radius: 3px;

/* Typography */
$headerFontStack: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodyFontStack: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$socialIconFontStack: "icons";


// ==============================================================================
// #Sass Mixins
// ==============================================================================
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1; //hack IE6 et 7
}
@mixin clearfix() {
  @extend .clearfix;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: #{$shadow};
  -moz-box-shadow:    #{$shadow};
  box-shadow:         #{$shadow};
}

@mixin transition($transition:0.1s all) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin gradient($from, $to, $fallback) {
  background: $fallback;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: -ms-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(top bottom, $from 0%,$to 100%);
}

@mixin backface($visibility: hidden) {
  -moz-backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

@function color-control($color) {
  @if (lightness( $color ) > 40) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}

// ==============================================================================
// Dependency-free breakpoint mixin
// http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
// ==============================================================================
$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

// ==============================================================================
// #Reset
// ==============================================================================
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}code,pre{background-color:#faf7f5;font-family:Consolas,monospace;border:0 none;padding:0 2px;color:#51ab62;}pre{overflow:auto;padding:0.5em;margin:0 0 1em;}


// ==============================================================================
// #Grid Setup
//
// - Based on csswizardry grid, but with floated columns and a fixed gutter size
// - Breakpoints defined above, under #Breakpoint and Grid Variables
// - Note the inclusion of .grid-uniform to take care of clearfixes on evenly sized grid-items
// ==============================================================================
$responsive:         true;
$mobile-first:       true;
$use-silent-classes: false;
$push:               true;
$pull:               false;

/* Force clearfix on grids */
.grid,
.grid-uniform {
  @include clearfix;
}

/* Manual grid-item clearfix */
.grid-item.clear {
  clear: both;
}

$class-type: unquote(".");

@if $use-silent-classes == true {
  $class-type: unquote("%");
}

@mixin grid-media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false{
    @warn "Breakpoint '#{$media-query}' does not exist";
  }
}


/**
 * Drop relative positioning into silent classes which can't take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
@mixin silent-relative() {
  @if $use-silent-classes == true{
    position:relative;
  }
}


/*------------------------------------*\
  $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns' gutters.
 */
#{$class-type}grid,
#{$class-type}grid-uniform {
  list-style:none;
  margin:0;
  padding:0;
  margin-left:-$gridGutter;
}

#{$class-type}grid-item {
  float: left;
  padding-left:$gridGutter;
  vertical-align:top;
  @if $mobile-first == true {
    width:100%;
  }
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/**
 * Reversed grids allow you to structure your source in the opposite
 * order to how your rendered layout will appear.
 */
#{$class-type}grid--rev {
  @extend #{$class-type}grid;
  direction:rtl;
  text-align:left;

  > #{$class-type}grid-item {
    direction:ltr;
    text-align:left;
    float: right;
  }
}

/* Gutterless grids have all the properties of regular grids, minus any spacing. */
#{$class-type}grid--full {
  @extend #{$class-type}grid;
  margin-left:0;

  > #{$class-type}grid-item {
    padding-left:0;
  }
}

/* Align the entire grid to the right. */
#{$class-type}grid--right {
  @extend #{$class-type}grid;
  direction:rtl;
  text-align:right;

  > #{$class-type}grid-item {
    direction:ltr;
    float: right;
    text-align:left;
  }
}

/* Centered grids align grid items centrally without needing to use push or pull classes. */
#{$class-type}grid--center {
  @extend #{$class-type}grid;
  text-align:center;

  > #{$class-type}grid-item {
    text-align:left;
  }
}

/*------------------------------------*\
  $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
@mixin device-type($namespace:"") {

  /** Whole */
  #{$class-type}#{$namespace}one-whole       { width:100%; }

  /* Halves */
  #{$class-type}#{$namespace}one-half        { width:50%; }

  /* Thirds */
  #{$class-type}#{$namespace}one-third       { width:33.333%; }
  #{$class-type}#{$namespace}two-thirds      { width:66.666%; }

  /* Quarters */
  #{$class-type}#{$namespace}one-quarter     { width:25%; }
  #{$class-type}#{$namespace}two-quarters    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}three-quarters  { width:75%; }

  /* Fifths */
  #{$class-type}#{$namespace}one-fifth       { width:20%; }
  #{$class-type}#{$namespace}two-fifths      { width:40%; }
  #{$class-type}#{$namespace}three-fifths    { width:60%; }
  #{$class-type}#{$namespace}four-fifths     { width:80%; }

  /* Sixths */
  #{$class-type}#{$namespace}one-sixth       { width:16.666%; }
  #{$class-type}#{$namespace}two-sixths      { @extend #{$class-type}#{$namespace}one-third; }
  #{$class-type}#{$namespace}three-sixths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}four-sixths     { @extend #{$class-type}#{$namespace}two-thirds; }
  #{$class-type}#{$namespace}five-sixths     { width:83.333%; }

  /* Eighths */
  #{$class-type}#{$namespace}one-eighth      { width:12.5%; }
  #{$class-type}#{$namespace}two-eighths     { @extend #{$class-type}#{$namespace}one-quarter; }
  #{$class-type}#{$namespace}three-eighths   { width:37.5%; }
  #{$class-type}#{$namespace}four-eighths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}five-eighths    { width:62.5%; }
  #{$class-type}#{$namespace}six-eighths     { @extend #{$class-type}#{$namespace}three-quarters; }
  #{$class-type}#{$namespace}seven-eighths   { width:87.5%; }

  /* Tenths */
  #{$class-type}#{$namespace}one-tenth       { width:10%; }
  #{$class-type}#{$namespace}two-tenths      { @extend #{$class-type}#{$namespace}one-fifth; }
  #{$class-type}#{$namespace}three-tenths    { width:30%; }
  #{$class-type}#{$namespace}four-tenths     { @extend #{$class-type}#{$namespace}two-fifths; }
  #{$class-type}#{$namespace}five-tenths     { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}six-tenths      { @extend #{$class-type}#{$namespace}three-fifths; }
  #{$class-type}#{$namespace}seven-tenths    { width:70%; }
  #{$class-type}#{$namespace}eight-tenths    { @extend #{$class-type}#{$namespace}four-fifths; }
  #{$class-type}#{$namespace}nine-tenths     { width:90%; }

  /* Twelfths */
  #{$class-type}#{$namespace}one-twelfth     { width:8.333%; }
  #{$class-type}#{$namespace}two-twelfths    { @extend #{$class-type}#{$namespace}one-sixth; }
  #{$class-type}#{$namespace}three-twelfths  { @extend #{$class-type}#{$namespace}one-quarter; }
  #{$class-type}#{$namespace}four-twelfths   { @extend #{$class-type}#{$namespace}one-third; }
  #{$class-type}#{$namespace}five-twelfths   { width:41.666% }
  #{$class-type}#{$namespace}six-twelfths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}seven-twelfths  { width:58.333%; }
  #{$class-type}#{$namespace}eight-twelfths  { @extend #{$class-type}#{$namespace}two-thirds; }
  #{$class-type}#{$namespace}nine-twelfths   { @extend #{$class-type}#{$namespace}three-quarters; }
  #{$class-type}#{$namespace}ten-twelfths    { @extend #{$class-type}#{$namespace}five-sixths; }
  #{$class-type}#{$namespace}eleven-twelfths { width:91.666%; }

}

/**
  * Create a clearfix helper on uniform grids
  */
@mixin clearfix-helper($namespace:"") {

  .grid-uniform {
    #{$class-type}#{$namespace}one-half:nth-child(2n+1),
    #{$class-type}#{$namespace}one-third:nth-child(3n+1),
    #{$class-type}#{$namespace}one-quarter:nth-child(4n+1),
    #{$class-type}#{$namespace}one-fifth:nth-child(5n+1),
    #{$class-type}#{$namespace}one-sixth:nth-child(6n+1),
    #{$class-type}#{$namespace}two-sixths:nth-child(3n+1),
    #{$class-type}#{$namespace}three-sixths:nth-child(2n+1),
    #{$class-type}#{$namespace}two-eighths:nth-child(4n+1),
    #{$class-type}#{$namespace}four-eighths:nth-child(2n+1),
    #{$class-type}#{$namespace}five-tenths:nth-child(2n+1),
    #{$class-type}#{$namespace}one-twelfth:nth-child(12n+1),
    #{$class-type}#{$namespace}two-twelfths:nth-child(6n+1),
    #{$class-type}#{$namespace}three-twelfths:nth-child(4n+1),
    #{$class-type}#{$namespace}four-twelfths:nth-child(3n+1),
    #{$class-type}#{$namespace}six-twelfths:nth-child(2n+1)     { clear:both; }
  }

}


/*------------------------------------*\
  $HELPERS
\*------------------------------------*/
/**
 * Create helper show/hide classes around our breakpoints.
 */
@mixin device-helper($namespace:"") {

  #{$class-type}#{$namespace}show        { display:block!important; }
  #{$class-type}#{$namespace}hide        { display:none!important; }

  #{$class-type}#{$namespace}text-left   { text-align:left!important; }
  #{$class-type}#{$namespace}text-right  { text-align:right!important; }
  #{$class-type}#{$namespace}text-center { text-align:center!important; }

  #{$class-type}#{$namespace}left        { float:left!important; }
  #{$class-type}#{$namespace}right       { float:right!important; }

}


/* Our regular, non-responsive width and helper classes. */
@include device-type();
@include device-helper();

/* Our responsive classes, if we have enabled them. */
@if $responsive == true {

  @each $name in $breakpoint-has-widths {
    @include grid-media-query($name) {
      @include device-type('#{$name}--');
      @include device-helper('#{$name}--');
      @include clearfix-helper('#{$name}--');
    }
  }

}


/*------------------------------------*\
  $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
@mixin push-setup($namespace: "") {

  /* Whole */
  #{$class-type}push--#{$namespace}one-whole       { left:100%; @include silent-relative(); }

  /* Halves */
  #{$class-type}push--#{$namespace}one-half        { left:50%; @include silent-relative(); }

  /* Thirds */
  #{$class-type}push--#{$namespace}one-third       { left:33.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-thirds      { left:66.666%; @include silent-relative(); }

  /* Quarters */
  #{$class-type}push--#{$namespace}one-quarter     { left:25%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-quarters    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}three-quarters  { left:75%; @include silent-relative(); }

  /* Fifths */
  #{$class-type}push--#{$namespace}one-fifth       { left:20%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-fifths      { left:40%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}three-fifths    { left:60%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-fifths     { left:80%; @include silent-relative(); }

  /* Sixths */
  #{$class-type}push--#{$namespace}one-sixth       { left:16.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-sixths      { @extend #{$class-type}push--#{$namespace}one-third; }
  #{$class-type}push--#{$namespace}three-sixths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}four-sixths     { @extend #{$class-type}push--#{$namespace}two-thirds; }
  #{$class-type}push--#{$namespace}five-sixths     { left:83.333%; @include silent-relative(); }

  /* Eighths */
  #{$class-type}push--#{$namespace}one-eighth      { left:12.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-eighths     { @extend #{$class-type}push--#{$namespace}one-quarter; }
  #{$class-type}push--#{$namespace}three-eighths   { left:37.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-eighths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}five-eighths    { left:62.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-eighths     { @extend #{$class-type}push--#{$namespace}three-quarters; }
  #{$class-type}push--#{$namespace}seven-eighths   { left:87.5%; @include silent-relative(); }

  /* Tenths */
  #{$class-type}push--#{$namespace}one-tenth       { left:10%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-tenths      { @extend #{$class-type}push--#{$namespace}one-fifth; }
  #{$class-type}push--#{$namespace}three-tenths    { left:30%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-tenths     { @extend #{$class-type}push--#{$namespace}two-fifths; }
  #{$class-type}push--#{$namespace}five-tenths     { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}six-tenths      { @extend #{$class-type}push--#{$namespace}three-fifths; }
  #{$class-type}push--#{$namespace}seven-tenths    { left:70%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eight-tenths    { @extend #{$class-type}push--#{$namespace}four-fifths; }
  #{$class-type}push--#{$namespace}nine-tenths     { left:90%; @include silent-relative(); }

  /* Twelfths */
  #{$class-type}push--#{$namespace}one-twelfth     { left:8.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-twelfths    { @extend #{$class-type}push--#{$namespace}one-sixth; }
  #{$class-type}push--#{$namespace}three-twelfths  { @extend #{$class-type}push--#{$namespace}one-quarter; }
  #{$class-type}push--#{$namespace}four-twelfths   { @extend #{$class-type}push--#{$namespace}one-third; }
  #{$class-type}push--#{$namespace}five-twelfths   { left:41.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-twelfths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}seven-twelfths  { left:58.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eight-twelfths  { @extend #{$class-type}push--#{$namespace}two-thirds; }
  #{$class-type}push--#{$namespace}nine-twelfths   { @extend #{$class-type}push--#{$namespace}three-quarters; }
  #{$class-type}push--#{$namespace}ten-twelfths    { @extend #{$class-type}push--#{$namespace}five-sixths; }
  #{$class-type}push--#{$namespace}eleven-twelfths { left:91.666%; @include silent-relative(); }
}

@if $push == true {

  /* Not a particularly great selector, but the DRYest way to do things. */
  [class*="push--"]{ position:relative; }

  @include push-setup();

  @if $responsive == true {
    @each $name in $breakpoint-has-push {
      @include grid-media-query($name) {
        @include push-setup('#{$name}--');
      }
    }
  }

}


/*------------------------------------*\
  $PULL
\*------------------------------------*/
/* Pull classes, to move grid items back to the left by certain amounts. */
@mixin pull-setup($namespace: "") {
  /* Whole */
  #{$class-type}pull--#{$namespace}one-whole       { right:100%; @include silent-relative(); }

  /* Halves */
  #{$class-type}pull--#{$namespace}one-half        { right:50%; @include silent-relative(); }

  /* Thirds */
  #{$class-type}pull--#{$namespace}one-third       { right:33.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-thirds      { right:66.666%; @include silent-relative(); }

  /* Quarters */
  #{$class-type}pull--#{$namespace}one-quarter     { right:25%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-quarters    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}three-quarters  { right:75%; @include silent-relative(); }

  /* Fifths */
  #{$class-type}pull--#{$namespace}one-fifth       { right:20%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-fifths      { right:40%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-fifths    { right:60%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-fifths     { right:80%; @include silent-relative(); }

  /* Sixths */
  #{$class-type}pull--#{$namespace}one-sixth       { right:16.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-sixths      { @extend #{$class-type}pull--#{$namespace}one-third; }
  #{$class-type}pull--#{$namespace}three-sixths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}four-sixths     { @extend #{$class-type}pull--#{$namespace}two-thirds; }
  #{$class-type}pull--#{$namespace}five-sixths     { right:83.333%; @include silent-relative(); }

  /* Eighths */
  #{$class-type}pull--#{$namespace}one-eighth      { right:12.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-eighths     { @extend #{$class-type}pull--#{$namespace}one-quarter; }
  #{$class-type}pull--#{$namespace}three-eighths   { right:37.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-eighths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}five-eighths    { right:62.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-eighths     { @extend #{$class-type}pull--#{$namespace}three-quarters; }
  #{$class-type}pull--#{$namespace}seven-eighths   { right:87.5%; @include silent-relative(); }

  /* Tenths */
  #{$class-type}pull--#{$namespace}one-tenth       { right:10%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-tenths      { @extend #{$class-type}pull--#{$namespace}one-fifth; }
  #{$class-type}pull--#{$namespace}three-tenths    { right:30%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-tenths     { @extend #{$class-type}pull--#{$namespace}two-fifths; }
  #{$class-type}pull--#{$namespace}five-tenths     { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}six-tenths      { @extend #{$class-type}pull--#{$namespace}three-fifths; }
  #{$class-type}pull--#{$namespace}seven-tenths    { right:70%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eight-tenths    { @extend #{$class-type}pull--#{$namespace}four-fifths; }
  #{$class-type}pull--#{$namespace}nine-tenths     { right:90%; @include silent-relative(); }

  /* Twelfths */
  #{$class-type}pull--#{$namespace}one-twelfth     { right:8.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-twelfths    { @extend #{$class-type}pull--#{$namespace}one-sixth; }
  #{$class-type}pull--#{$namespace}three-twelfths  { @extend #{$class-type}pull--#{$namespace}one-quarter; }
  #{$class-type}pull--#{$namespace}four-twelfths   { @extend #{$class-type}pull--#{$namespace}one-third; }
  #{$class-type}pull--#{$namespace}five-twelfths   { right:41.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-twelfths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}seven-twelfths  { right:58.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eight-twelfths  { @extend #{$class-type}pull--#{$namespace}two-thirds; }
  #{$class-type}pull--#{$namespace}nine-twelfths   { @extend #{$class-type}pull--#{$namespace}three-quarters; }
  #{$class-type}pull--#{$namespace}ten-twelfths    { @extend #{$class-type}pull--#{$namespace}five-sixths; }
  #{$class-type}pull--#{$namespace}eleven-twelfths { right:91.666%; @include silent-relative(); }
}

@if $pull == true {

  /* Not a particularly great selector, but the DRYest way to do things. */
  [class*="pull--"]{ position:relative; }

  @include pull-setup();

  @if $responsive == true{
    @each $name in $breakpoint-has-pull {
      @include grid-media-query($name) {
        @include pull-setup('#{$name}--');
      }
    }
  }

}


// ==============================================================================
// #Helper Classes
// ==============================================================================
.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.hidden { display: none; }

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}


// ==============================================================================
// #Links and Buttons
// ==============================================================================

.btn {
  display: inline-block;
  padding: 8px 10px;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  -o-user-select:      none;
  user-select:         none;
  -webkit-appearance: none;
  border-radius: $radius;

  &.btn--small {
    padding: 4px 5px;
    font-size: 0.75em; //12px
  }

  &.btn--full {
    width: 100%;
  }
}

// Force an input/button to look like a text link
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

// ==============================================================================
// #Icons
// ==============================================================================
.icon-fallback-text .icon {
  display: none;

  .supports-fontface & {
    display: inline-block;
  }
}

.supports-fontface .icon-fallback-text .fallback-text {
  /* a generic way to visually hide content while remaining accessible to screen readers (h5bp.com) */
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon:before {
  display: none;
}

.supports-fontface .icon:before {
  display: inline;
  font-family: $socialIconFontStack;
  text-decoration: none;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icon mapping
.icon-cart:before { content: "\5b"; }
.icon-american_express:before { content: "\41"; }
.icon-master:before { content: "\4d"; }
.icon-visa:before { content: "\56"; }
.icon-paypal:before { content: "\50"; }
.icon-discover:before { content: "\44"; }
.icon-stripe:before { content: "\53"; }
.icon-interac:before { content: "\49"; }
.icon-cirrus:before { content: "\43"; }
.icon-google_wallet:before { content: "\47"; }
.icon-dk:before { content: "\64"; }
.icon-jcb:before { content: "\4a"; }
.icon-maestro:before { content: "\6d"; }
.icon-diners_club:before { content: "\63"; }
.icon-bitcoin:before { content: "\42"; }
.icon-tumblr:before { content: "\74"; }
.icon-vimeo:before { content: "\76"; }
.icon-youtube:before { content: "\79"; }
.icon-google:before { content: "\67"; }
.icon-twitter:before { content: "\54"; }
.icon-facebook:before { content: "\66"; }
.icon-pinterest:before { content: "\70"; }
.icon-instagram:before { content: "\69"; }
.icon-fancy:before { content: "\46"; }

.payment-icons {
  -webkit-user-select: none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  -o-user-select:      none;
  user-select:         none;
  cursor: default;

  li {
    margin: 0 $gutter/4 $gutter/4;
    color: red;
    cursor: default;
  }

  .icon {
    font-size: 30px;
    line-height: 30px;
  }

  .fallback-text {
    text-transform: capitalize;
  }
}

.social-icons li {
  margin: 0 $gutter/2 $gutter/2;
  vertical-align: middle;

  @include at-query ($min, $postSmall) {
    margin-left: 0;
  }

  .icon {
    font-size: 30px;
    line-height: 26px;
  }

  a {
    color: red;

    &:hover {
      color: darken(blue, 10%);
    }
  }
}

// ==============================================================================
// #Color
// ==============================================================================
$red: #e62f2f;
$dark-grey: #1D1D1D;
$white: #EEEEEE;
$light-grey: #4A4A4A;
$soft-grey: #dddddd;
$grey: #606060;
// ==============================================================================
// #Proxy color
// ==============================================================================
$dark: $dark-grey;
$hover: $red;
$clear: $white;
$border: $light-grey;
$color-font-button: $soft-grey;
$bgc-footer: $grey;
// ==============================================================================
// #Style full-visual theme -- RestoReady -- Défault mobile first
// ==============================================================================
// =====================      #layout      ============================================
html, 
body {
  font-family: "Helvetica", sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: $clear;
}
h1,
span, 
tbody {
	color: $clear;
}
table, 
tr, 
td, 
th {
  border:0;
}
hr {
  border: solid 1px $dark;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  background-color: $hover;
  color: $clear;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 200px;
  height: 45px;
  font-size: 1.3em;
  transition: color 0.2s;

  &:hover {
    background-color: $hover;
    color: $dark;
    transition: color 0.2s;
  }
}
.facebook {
  height: 25px;
  width: 20px;
  background: url(/assets/full-visual-theme/images/fb.png) no-repeat center;
  display: inline-block;
  margin-bottom: 15px;
}
.twitter {
  height: 25px;
  width: 30px;
  background: url(/assets/full-visual-theme/images/twitt.png) no-repeat center;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
}
// ===================== #content styles -- front.liquid ============================================
.footer__infos {
  width: 100%;
  background-color: $bgc-footer;
}
// ===================== #nav styles -- _nav.liquid ============================================
.nav-small {
	position: fixed;
  top: 0;
  z-index: 9999;
	width: 100%;
	background-color: $dark;
}
.nav-small__logo {
	padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  img {
    width: 60px;
  }
}
.nav-small__btn {
  display: inline-block;
  right: 30px;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
  div {
    width: 30px;
    height: 5px;
    margin-top: 5px;
    background-color: #FFF;
  }
}
.nav-small__name-resto {
	width: 100%;
  margin-left: 75px;
  top: 16px;
	font-size: 1.2em;
  padding-bottom: 15px;
  position: absolute;
}

.sb-slidebar {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
  position: fixed;
  width: 250px;
  display: none;
  z-index: 99; /* Slidebars sit behind sb-site. */
  background-color: $dark; /* Default Slidebars background colour, overwrite this with your own css. */
}
.sb-right {
  right: 0; /* Set Slidebar to the right. */
  top: 0;
}
.nav-small__list, 
.nav-large__list {
  text-align: left;
  list-style: none;
  margin-top: 40px;
  margin-left: 0;
  border-bottom: solid 2px $border;
}
.nav-small__item, 
.nav-large__item {
    cursor: pointer;
    font-size: 1.2em;
    border-top: solid 2px $border;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.5s;
    font-weight: 200;
    &:hover {
      background-color: $hover;
    }
}
.nav-small__item {
  width: 250px;
}
.nav-small__item-links, 
.nav-large__item-links {
  color: $clear;
  text-decoration: none;
}
.coordinate {
  padding-bottom: 15px;
  margin-top: 25px;
  margin-left: 15px;
  width: 200px;
}
// ===================== #menu styles -- _show.liquid ============================================
.menus-nav {
  margin-top: 50px;
  width: 100%;
  position: relative;
}
.menus-nav__item {
  width: 50%;
  float: left;
  background-color: black;
}
.menus-nav__link {
  display: block;
  position: relative;
}
.menus-nav__image {
  width: 100%;
  display: block;
  position: relative;
  opacity: 0.7;
}
.menus-nav__title {
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  left: 10%;
  font-family: "Great Vibes";
  font-size: 1.5em;
}
// ===================== #menus-food styles -- _menu.liquid ============================================
.menus-food {
  margin-top: 25px;
}
.content-menus-food__title-1 {
  font-size: 2em;
}
.content-menus-food__title-2 {
  font-size: 1.5em;
}
.content-menus-food__description-title-1 {
  font-size: 1em;
}
// ===================== #food styles -- _food.liquid ============================================
.dish {
  margin-top: 25px;
  padding-left: 0px;
}
.dish__name-dish {
  font-weight: 600;
  margin-bottom: 10px;
}
.dish__image-dish {
  max-width: 100%;
}
.dish__description--label {
  background-color: $hover;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  margin-bottom: 5px;
}
.label-new {
  color: white;
}
.food-price__price-label, 
.food-price__price-value {
  font-weight: 800;
  font-style: italic;
  display: inline-block;
}
// ===================== #footer styles -- _footer.liquid ============================================
.footer__infos {
  width: 100%;
}
.footer, 
.contact-footer {
  color: $clear;
}
.footer {
  text-align: center;
  margin-top: -10px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.social-footer {
  margin-top: 0px;
}
.social-footer__item {
  display: inline-block;
}
.contact-footer__name, 
.socail-footer__title {
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: 500;
}
.contact-footer__street-address, 
.contact-footer__postal-code, 
.contact-footer__address-locality, 
.contact-footer__phone, 
.contact-footer__mail, 
.contact-footer__mentions {
  font-weight: 500;
}
.contact-footer__phone-link, 
.contact-footer__mail-link {
  text-decoration: none;
}
.subscribe {
  margin-top: 25px;
}
.subscribe__title {
  color: $dark;
  font-style: italic;
}
.subscribers-form {
  margin-top: -10px;
}
.subscribe__email-subscriber {
  width: 70%;
  height: 30px;
}
.subscribe__submit-subscriber {
  margin-top: 15px;
  width: 70%;
}
.footer-link {
  margin-bottom: 15px;
}
// ===================== Background #img styles -- home.liquid ============================================
.full-background {
	width: 100%;
  height: auto;
  margin-top: 53px;
  display: inline-block;
  background: url(/assets/full-visual-theme/images/design.jpg) no-repeat center;
}
.slogan__slogan {
	font-size: 2.5em;
	line-height: 1;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: "Great Vibes";
  padding-top: 25px;
  padding-bottom: 25px;
}
// ===================== Section #week & #new-dish styles -- home.liquid ============================================
.news {
  margin-left: 25px;
  margin-right: 25px;
}
.week,
.new-dish {
  margin-top: 25px;
}
.week__title, 
.new-dish__title, 
.home-description__title, 
.hours__title {
	font-size: 2em;
	font-weight: 700;
  margin-top: 15px;
}
.week__resume, 
.new-dish__resume {
	font-size: 1.2em;
	font-weight: 500;
	font-style: italic;
  margin-top: 25px;
}
.week__details, 
.new-dish__details {
	font-size: 1em;
	font-weight: 200;
	font-style: italic;
}
.news-footer, 
.presentation-footer, 
.directions-footer {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
// ===================== Section #presentation styles -- home.liquid ============================================
.presentation {
  width: 100%;
  height: auto;
  background: url(/assets/full-visual-theme/images/pres.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-description {
  margin-left: 25px;
  margin-right: 25px;
}
.home-description__summary {
  margin-top: 25px;
  color: $clear;
}
.home-description__title, 
.hours__title {
  color: $clear;
  padding-top: 25px;
}
// ===================== Section #horaires styles -- home.liquid ============================================
.opening-hours {
  width: 100%;
  height: auto;
  background: url(/assets/full-visual-theme/images/horaires.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -15px;
}
.hours {
  width: auto;
  margin-left: 25px;
}
.hours__title {
  margin-bottom: 25px;
}
.hours__information {
  color: $clear;
  margin-top: 25px;
  font-weight: 600;
  padding-bottom: 25px;
}
.hours__day {
  line-height: 2;
}
.hours__day-name {
  font-size: 0.85em;
  font-style: italic;
  text-align: left;
}
.hours__day-shifts {
  font-size: 1.3em;
  padding-left: 25px;
}
// ===================== Section #map styles -- home.liquid ============================================
.directions, 
.directions__map-link {
  width: 100%;
}
.directions__map-image {
  width: 100%;
}
.infos-local {
  text-align: center;
  margin-top: -120px;
}
.infos-local__address {
  color: $dark;
  font-size: 1em;
  font-weight: 600;
}
.btn_itineraire {
  margin-top: -35px;
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint small-up - min 480px
// ==============================================================================
@media only screen and (min-width: $small-up) {
  // ===================== #food styles -- _food.liquid ============================================
  .dish {
    padding-right: 25px;
  }
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav__item {
    width: 33.3333333%;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint large - min 1024px
// ==============================================================================
@media only screen and (min-width: $large) {
// ===================== #nav styles -- _nav.liquid ============================================
  .nav-large {
  	width: 300px;
  	height: 100%;
  	background-color: $dark;
  	position: fixed;
  	display: inline-block;
  	margin-left: 75px;
  	text-align: center;
    top: 0;
  }
  .nav-large__logo {
    padding-top: 15px;
    img {
      width: 200px;
    }
  }
  .nav-large__name-resto {
  	width: 100%;
  	font-size: 1.5em;
  	margin-top: 15px;
  	font-weight: 300;
  }
  .social-nav__item {
    display: inline-block;
  } 
  .coordinate {
  	bottom: 25px;
  	position: fixed;
  	width: 300px;
  }
  .coordinate__number, 
  .coordinate__address {
  	font-size: 1em;
  	font-weight: 200;
  }
  .coordinate__number {
  	font-size: 1.4em;
  }
// ===================== #menu styles -- _show.liquid ============================================
  .menus-nav {
    margin-top: -25px;
    width: 72%;
    margin-left: 375px;
  }
  .menus-nav__item {
    width: 33.3333333%;
  }
// ===================== Background #img styles -- home.liquid ============================================
  .full-background {
    height: 100%;
    margin-top: 0px;
  }
  .slogan__slogan {
  	font-size: 3em;
  	width: 40%;
  	margin-left: 48%;
  	padding-top: 30%;
  }
// ===================== Section #week & #new-dish styles -- home.liquid ============================================
  .news, 
  .home-description, 
  .hours, 
  .infos-local, 
  .footer {
  	margin-left: 400px;
  }
  .dish {
    padding-right: 40px;
  }
// ===================== #footer styles -- _footer.liquid ============================================
  .subscribe {
    padding-top: 25px;
  }
  .footer {
    margin-top: -30px;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint - min 1350px
// ==============================================================================
@media only screen and (min-width: 1350px) {
// ===================== Background #img styles -- home.liquid ============================================
  .slogan__slogan {
    font-size: 3.5em;
    margin-left: 43%;
    padding-top: 25%;
  }
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav {
    width: 75%;
  }
  .menus-nav__item {
    width: 25%;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint - min 1500px
// ==============================================================================
@media only screen and (min-width: 1500px) {
// ===================== Background #img styles -- home.liquid ============================================
  .slogan__slogan {
    font-size: 3.5em;
    margin-left: 43%;
    padding-top: 25%;
  }
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav {
    width: 78%;
  }
  .menus-nav__item {
    width: 25%;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint - min 1730px
// ==============================================================================
@media only screen and (min-width: 1730px) {
// ===================== Background #img styles -- home.liquid ============================================
  .slogan__slogan  {
	   font-size: 4em;
	   margin-left: 40%;
  }
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav {
    width: 85%;
  }
  .menus-nav__item {
    width: 25%;
  }
}