{% if menu.children? %}
  <div class="margin"></div>
  <ol class="menus-nav">
    {% for child in menu.children %}
      <li class="menus-nav__item">
        <a href="{{ menu.url }}#menu-{{child.id}}" class="menus-nav__link">
          {% if child.main_image? %}
            {{ child | small_image_url: 'main_image' | image_tag: 'class:menus-nav__image' }}
          {% endif %}
          <h4 class="menus-nav__title">
            {{ child.name }}
          </h4>
        </a>
      </li>
    {% endfor %}
  </ol>
  {% for child in menu.children %}
  <div class="menus-food__content">
    {% include 'menu' with menu:child, title:true %}
  </div>
  {% endfor %}
{% else %}
  {% include 'menu' with menu:menu, title:false %}
{% endif %}