<section class="resto-presentation page-wrap">
<div class="resto-presentation__image-wrapper">
<div class="resto-presentation__image"></div>
</div>
{% if current_tenant.phone? %}
    <a class="menus-number" href="tel:{{ current_tenant.phone_uri }}">
      {{ current_tenant.phone }}
    </a>
{% endif %}
<div class="resto-presentation__content">
  <header>
    <h2 class="resto-presentation__title">{{ "Le restaurant" | t }}</h2>
  </header>
  {% if current_tenant.summary? %}
    <div class="resto-presentation__description resto-presentation__description-long" itemprop="description">
      {{ current_tenant.summary }}
    </div>
  {% endif %}
  {% if current_tenant.main_photo? or photos.size > 0 %}
    <div class="gallery grid--full">
      {% if photos.size > 0 %}
        {% for photo in photos %}
          {% include 'photo' with photo:photo %}
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
  </div>
</section>