/*
* RestoReady v1.0
* Copyright 2014 MH Communication.
* Author MH Communication @MHCommunication
* Built with Sass - http://sass-lang.com/

* Some things to know about this file:
    - Sass is compiled on RestoReady's server so you don't need to convert it to CSS yourself
    - The output CSS is compressed and comments are removed
    - You cannot use @imports in this file
        * Use grunt or gulp tasks to enable @imports - https://github.com/Shopify/shopify-css-import
    - Helpers variables, mixins, and starter classes are provided. Change as needed.
    - The file is prepped with a CSS reset
*/
/* Table of Contents
==================================================
  Breakpoint and Grid Variables
  General Variables
  Sass Mixins
  Reset
  Grid Setup
  Helper Classes
  Links and Buttons
  Color
  Proxy Color
  Fonts
  Proxy Fonts
  Style Full-visual theme -- RestoReady -- Défault mobile first
  Style Full-visual theme -- Breakpoint large - min 1024px
  Style Full-visual theme -- Breakpoint large - min 1350px
  Style Full-visual theme -- Breakpoint large - min 1500px
  Style Full-visual theme -- Breakpoint large - min 1730px
================================================== */
*, input, :before, :after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
// ==============================================================================
// #Breakpoint and Grid Variables
// ==============================================================================
$viewportIncrement: 1px;

$small: 480px;
$small-up: 480px;
$medium: 1023px;
$large: 1024px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/* The following are dependencies of csswizardry grid */
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large');
$breakpoint-has-push:  ('medium', 'medium-down', 'large');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large');

// ==============================================================================
// #General Variables
// ==============================================================================

/* Width variables */
$siteWidth: 1180px;
$gutter: 24px;
$gridGutter: 24px; // can be a %, but nested grids will have smaller margins because of it

/* Radius */
$radius: 3px;

/* Typography */
$headerFontStack: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodyFontStack: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$socialIconFontStack: "icons";


// ==============================================================================
// #Sass Mixins
// ==============================================================================
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1; //hack IE6 et 7
}
@mixin clearfix() {
  @extend .clearfix;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: #{$shadow};
  -moz-box-shadow:    #{$shadow};
  box-shadow:         #{$shadow};
}

@mixin transition($transition:0.1s all) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin gradient($from, $to, $fallback) {
  background: $fallback;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: -ms-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(top bottom, $from 0%,$to 100%);
}

@mixin backface($visibility: hidden) {
  -moz-backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

@function color-control($color) {
  @if (lightness( $color ) > 40) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}

// ==============================================================================
// Dependency-free breakpoint mixin
// http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
// ==============================================================================
$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

// ==============================================================================
// #Reset
// ==============================================================================
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}code,pre{background-color:#faf7f5;font-family:Consolas,monospace;border:0 none;padding:0 2px;color:#51ab62;}pre{overflow:auto;padding:0.5em;margin:0 0 1em;}


// ==============================================================================
// #Grid Setup
//
// - Based on csswizardry grid, but with floated columns and a fixed gutter size
// - Breakpoints defined above, under #Breakpoint and Grid Variables
// - Note the inclusion of .grid-uniform to take care of clearfixes on evenly sized grid-items
// ==============================================================================
$responsive:         true;
$mobile-first:       true;
$use-silent-classes: false;
$push:               true;
$pull:               false;

/* Force clearfix on grids */
.grid,
.grid-uniform {
  @include clearfix;
}

/* Manual grid-item clearfix */
.grid-item.clear {
  clear: both;
}

$class-type: unquote(".");

@if $use-silent-classes == true {
  $class-type: unquote("%");
}

@mixin grid-media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false{
    @warn "Breakpoint '#{$media-query}' does not exist";
  }
}


/**
 * Drop relative positioning into silent classes which can't take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
@mixin silent-relative() {
  @if $use-silent-classes == true{
    position:relative;
  }
}


/*------------------------------------*\
  $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns' gutters.
 */
#{$class-type}grid,
#{$class-type}grid-uniform {
  list-style:none;
  margin:0;
  padding:0;
  margin-left:-$gridGutter;
}

#{$class-type}grid-item {
  float: left;
  padding-left:$gridGutter;
  vertical-align:top;
  @if $mobile-first == true {
    width:100%;
  }
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/**
 * Reversed grids allow you to structure your source in the opposite
 * order to how your rendered layout will appear.
 */
#{$class-type}grid--rev {
  @extend #{$class-type}grid;
  direction:rtl;
  text-align:left;

  > #{$class-type}grid-item {
    direction:ltr;
    text-align:left;
    float: right;
  }
}

/* Gutterless grids have all the properties of regular grids, minus any spacing. */
#{$class-type}grid--full {
  @extend #{$class-type}grid;
  margin-left:0;

  > #{$class-type}grid-item {
    padding-left:0;
  }
}

/* Align the entire grid to the right. */
#{$class-type}grid--right {
  @extend #{$class-type}grid;
  direction:rtl;
  text-align:right;

  > #{$class-type}grid-item {
    direction:ltr;
    float: right;
    text-align:left;
  }
}

/* Centered grids align grid items centrally without needing to use push or pull classes. */
#{$class-type}grid--center {
  @extend #{$class-type}grid;
  text-align:center;

  > #{$class-type}grid-item {
    text-align:left;
  }
}

/*------------------------------------*\
  $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
@mixin device-type($namespace:"") {

  /** Whole */
  #{$class-type}#{$namespace}one-whole       { width:100%; }

  /* Halves */
  #{$class-type}#{$namespace}one-half        { width:50%; }

  /* Thirds */
  #{$class-type}#{$namespace}one-third       { width:33.333%; }
  #{$class-type}#{$namespace}two-thirds      { width:66.666%; }

  /* Quarters */
  #{$class-type}#{$namespace}one-quarter     { width:25%; }
  #{$class-type}#{$namespace}two-quarters    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}three-quarters  { width:75%; }

  /* Fifths */
  #{$class-type}#{$namespace}one-fifth       { width:20%; }
  #{$class-type}#{$namespace}two-fifths      { width:40%; }
  #{$class-type}#{$namespace}three-fifths    { width:60%; }
  #{$class-type}#{$namespace}four-fifths     { width:80%; }

  /* Sixths */
  #{$class-type}#{$namespace}one-sixth       { width:16.666%; }
  #{$class-type}#{$namespace}two-sixths      { @extend #{$class-type}#{$namespace}one-third; }
  #{$class-type}#{$namespace}three-sixths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}four-sixths     { @extend #{$class-type}#{$namespace}two-thirds; }
  #{$class-type}#{$namespace}five-sixths     { width:83.333%; }

  /* Eighths */
  #{$class-type}#{$namespace}one-eighth      { width:12.5%; }
  #{$class-type}#{$namespace}two-eighths     { @extend #{$class-type}#{$namespace}one-quarter; }
  #{$class-type}#{$namespace}three-eighths   { width:37.5%; }
  #{$class-type}#{$namespace}four-eighths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}five-eighths    { width:62.5%; }
  #{$class-type}#{$namespace}six-eighths     { @extend #{$class-type}#{$namespace}three-quarters; }
  #{$class-type}#{$namespace}seven-eighths   { width:87.5%; }

  /* Tenths */
  #{$class-type}#{$namespace}one-tenth       { width:10%; }
  #{$class-type}#{$namespace}two-tenths      { @extend #{$class-type}#{$namespace}one-fifth; }
  #{$class-type}#{$namespace}three-tenths    { width:30%; }
  #{$class-type}#{$namespace}four-tenths     { @extend #{$class-type}#{$namespace}two-fifths; }
  #{$class-type}#{$namespace}five-tenths     { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}six-tenths      { @extend #{$class-type}#{$namespace}three-fifths; }
  #{$class-type}#{$namespace}seven-tenths    { width:70%; }
  #{$class-type}#{$namespace}eight-tenths    { @extend #{$class-type}#{$namespace}four-fifths; }
  #{$class-type}#{$namespace}nine-tenths     { width:90%; }

  /* Twelfths */
  #{$class-type}#{$namespace}one-twelfth     { width:8.333%; }
  #{$class-type}#{$namespace}two-twelfths    { @extend #{$class-type}#{$namespace}one-sixth; }
  #{$class-type}#{$namespace}three-twelfths  { @extend #{$class-type}#{$namespace}one-quarter; }
  #{$class-type}#{$namespace}four-twelfths   { @extend #{$class-type}#{$namespace}one-third; }
  #{$class-type}#{$namespace}five-twelfths   { width:41.666% }
  #{$class-type}#{$namespace}six-twelfths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}seven-twelfths  { width:58.333%; }
  #{$class-type}#{$namespace}eight-twelfths  { @extend #{$class-type}#{$namespace}two-thirds; }
  #{$class-type}#{$namespace}nine-twelfths   { @extend #{$class-type}#{$namespace}three-quarters; }
  #{$class-type}#{$namespace}ten-twelfths    { @extend #{$class-type}#{$namespace}five-sixths; }
  #{$class-type}#{$namespace}eleven-twelfths { width:91.666%; }

}

/**
  * Create a clearfix helper on uniform grids
  */
@mixin clearfix-helper($namespace:"") {

  .grid-uniform {
    #{$class-type}#{$namespace}one-half:nth-child(2n+1),
    #{$class-type}#{$namespace}one-third:nth-child(3n+1),
    #{$class-type}#{$namespace}one-quarter:nth-child(4n+1),
    #{$class-type}#{$namespace}one-fifth:nth-child(5n+1),
    #{$class-type}#{$namespace}one-sixth:nth-child(6n+1),
    #{$class-type}#{$namespace}two-sixths:nth-child(3n+1),
    #{$class-type}#{$namespace}three-sixths:nth-child(2n+1),
    #{$class-type}#{$namespace}two-eighths:nth-child(4n+1),
    #{$class-type}#{$namespace}four-eighths:nth-child(2n+1),
    #{$class-type}#{$namespace}five-tenths:nth-child(2n+1),
    #{$class-type}#{$namespace}one-twelfth:nth-child(12n+1),
    #{$class-type}#{$namespace}two-twelfths:nth-child(6n+1),
    #{$class-type}#{$namespace}three-twelfths:nth-child(4n+1),
    #{$class-type}#{$namespace}four-twelfths:nth-child(3n+1),
    #{$class-type}#{$namespace}six-twelfths:nth-child(2n+1)     { clear:both; }
  }

}


/*------------------------------------*\
  $HELPERS
\*------------------------------------*/
/**
 * Create helper show/hide classes around our breakpoints.
 */
@mixin device-helper($namespace:"") {

  #{$class-type}#{$namespace}show        { display:block!important; }
  #{$class-type}#{$namespace}hide        { display:none!important; }

  #{$class-type}#{$namespace}text-left   { text-align:left!important; }
  #{$class-type}#{$namespace}text-right  { text-align:right!important; }
  #{$class-type}#{$namespace}text-center { text-align:center!important; }

  #{$class-type}#{$namespace}left        { float:left!important; }
  #{$class-type}#{$namespace}right       { float:right!important; }

}


/* Our regular, non-responsive width and helper classes. */
@include device-type();
@include device-helper();

/* Our responsive classes, if we have enabled them. */
@if $responsive == true {

  @each $name in $breakpoint-has-widths {
    @include grid-media-query($name) {
      @include device-type('#{$name}--');
      @include device-helper('#{$name}--');
      @include clearfix-helper('#{$name}--');
    }
  }

}


/*------------------------------------*\
  $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
@mixin push-setup($namespace: "") {

  /* Whole */
  #{$class-type}push--#{$namespace}one-whole       { left:100%; @include silent-relative(); }

  /* Halves */
  #{$class-type}push--#{$namespace}one-half        { left:50%; @include silent-relative(); }

  /* Thirds */
  #{$class-type}push--#{$namespace}one-third       { left:33.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-thirds      { left:66.666%; @include silent-relative(); }

  /* Quarters */
  #{$class-type}push--#{$namespace}one-quarter     { left:25%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-quarters    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}three-quarters  { left:75%; @include silent-relative(); }

  /* Fifths */
  #{$class-type}push--#{$namespace}one-fifth       { left:20%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-fifths      { left:40%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}three-fifths    { left:60%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-fifths     { left:80%; @include silent-relative(); }

  /* Sixths */
  #{$class-type}push--#{$namespace}one-sixth       { left:16.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-sixths      { @extend #{$class-type}push--#{$namespace}one-third; }
  #{$class-type}push--#{$namespace}three-sixths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}four-sixths     { @extend #{$class-type}push--#{$namespace}two-thirds; }
  #{$class-type}push--#{$namespace}five-sixths     { left:83.333%; @include silent-relative(); }

  /* Eighths */
  #{$class-type}push--#{$namespace}one-eighth      { left:12.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-eighths     { @extend #{$class-type}push--#{$namespace}one-quarter; }
  #{$class-type}push--#{$namespace}three-eighths   { left:37.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-eighths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}five-eighths    { left:62.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-eighths     { @extend #{$class-type}push--#{$namespace}three-quarters; }
  #{$class-type}push--#{$namespace}seven-eighths   { left:87.5%; @include silent-relative(); }

  /* Tenths */
  #{$class-type}push--#{$namespace}one-tenth       { left:10%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-tenths      { @extend #{$class-type}push--#{$namespace}one-fifth; }
  #{$class-type}push--#{$namespace}three-tenths    { left:30%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-tenths     { @extend #{$class-type}push--#{$namespace}two-fifths; }
  #{$class-type}push--#{$namespace}five-tenths     { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}six-tenths      { @extend #{$class-type}push--#{$namespace}three-fifths; }
  #{$class-type}push--#{$namespace}seven-tenths    { left:70%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eight-tenths    { @extend #{$class-type}push--#{$namespace}four-fifths; }
  #{$class-type}push--#{$namespace}nine-tenths     { left:90%; @include silent-relative(); }

  /* Twelfths */
  #{$class-type}push--#{$namespace}one-twelfth     { left:8.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-twelfths    { @extend #{$class-type}push--#{$namespace}one-sixth; }
  #{$class-type}push--#{$namespace}three-twelfths  { @extend #{$class-type}push--#{$namespace}one-quarter; }
  #{$class-type}push--#{$namespace}four-twelfths   { @extend #{$class-type}push--#{$namespace}one-third; }
  #{$class-type}push--#{$namespace}five-twelfths   { left:41.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-twelfths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}seven-twelfths  { left:58.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eight-twelfths  { @extend #{$class-type}push--#{$namespace}two-thirds; }
  #{$class-type}push--#{$namespace}nine-twelfths   { @extend #{$class-type}push--#{$namespace}three-quarters; }
  #{$class-type}push--#{$namespace}ten-twelfths    { @extend #{$class-type}push--#{$namespace}five-sixths; }
  #{$class-type}push--#{$namespace}eleven-twelfths { left:91.666%; @include silent-relative(); }
}

@if $push == true {

  /* Not a particularly great selector, but the DRYest way to do things. */
  [class*="push--"]{ position:relative; }

  @include push-setup();

  @if $responsive == true {
    @each $name in $breakpoint-has-push {
      @include grid-media-query($name) {
        @include push-setup('#{$name}--');
      }
    }
  }

}


/*------------------------------------*\
  $PULL
\*------------------------------------*/
/* Pull classes, to move grid items back to the left by certain amounts. */
@mixin pull-setup($namespace: "") {
  /* Whole */
  #{$class-type}pull--#{$namespace}one-whole       { right:100%; @include silent-relative(); }

  /* Halves */
  #{$class-type}pull--#{$namespace}one-half        { right:50%; @include silent-relative(); }

  /* Thirds */
  #{$class-type}pull--#{$namespace}one-third       { right:33.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-thirds      { right:66.666%; @include silent-relative(); }

  /* Quarters */
  #{$class-type}pull--#{$namespace}one-quarter     { right:25%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-quarters    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}three-quarters  { right:75%; @include silent-relative(); }

  /* Fifths */
  #{$class-type}pull--#{$namespace}one-fifth       { right:20%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-fifths      { right:40%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-fifths    { right:60%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-fifths     { right:80%; @include silent-relative(); }

  /* Sixths */
  #{$class-type}pull--#{$namespace}one-sixth       { right:16.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-sixths      { @extend #{$class-type}pull--#{$namespace}one-third; }
  #{$class-type}pull--#{$namespace}three-sixths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}four-sixths     { @extend #{$class-type}pull--#{$namespace}two-thirds; }
  #{$class-type}pull--#{$namespace}five-sixths     { right:83.333%; @include silent-relative(); }

  /* Eighths */
  #{$class-type}pull--#{$namespace}one-eighth      { right:12.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-eighths     { @extend #{$class-type}pull--#{$namespace}one-quarter; }
  #{$class-type}pull--#{$namespace}three-eighths   { right:37.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-eighths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}five-eighths    { right:62.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-eighths     { @extend #{$class-type}pull--#{$namespace}three-quarters; }
  #{$class-type}pull--#{$namespace}seven-eighths   { right:87.5%; @include silent-relative(); }

  /* Tenths */
  #{$class-type}pull--#{$namespace}one-tenth       { right:10%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-tenths      { @extend #{$class-type}pull--#{$namespace}one-fifth; }
  #{$class-type}pull--#{$namespace}three-tenths    { right:30%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-tenths     { @extend #{$class-type}pull--#{$namespace}two-fifths; }
  #{$class-type}pull--#{$namespace}five-tenths     { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}six-tenths      { @extend #{$class-type}pull--#{$namespace}three-fifths; }
  #{$class-type}pull--#{$namespace}seven-tenths    { right:70%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eight-tenths    { @extend #{$class-type}pull--#{$namespace}four-fifths; }
  #{$class-type}pull--#{$namespace}nine-tenths     { right:90%; @include silent-relative(); }

  /* Twelfths */
  #{$class-type}pull--#{$namespace}one-twelfth     { right:8.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-twelfths    { @extend #{$class-type}pull--#{$namespace}one-sixth; }
  #{$class-type}pull--#{$namespace}three-twelfths  { @extend #{$class-type}pull--#{$namespace}one-quarter; }
  #{$class-type}pull--#{$namespace}four-twelfths   { @extend #{$class-type}pull--#{$namespace}one-third; }
  #{$class-type}pull--#{$namespace}five-twelfths   { right:41.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-twelfths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}seven-twelfths  { right:58.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eight-twelfths  { @extend #{$class-type}pull--#{$namespace}two-thirds; }
  #{$class-type}pull--#{$namespace}nine-twelfths   { @extend #{$class-type}pull--#{$namespace}three-quarters; }
  #{$class-type}pull--#{$namespace}ten-twelfths    { @extend #{$class-type}pull--#{$namespace}five-sixths; }
  #{$class-type}pull--#{$namespace}eleven-twelfths { right:91.666%; @include silent-relative(); }
}

@if $pull == true {

  /* Not a particularly great selector, but the DRYest way to do things. */
  [class*="pull--"]{ position:relative; }

  @include pull-setup();

  @if $responsive == true{
    @each $name in $breakpoint-has-pull {
      @include grid-media-query($name) {
        @include pull-setup('#{$name}--');
      }
    }
  }

}


// ==============================================================================
// #Helper Classes
// ==============================================================================
.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.hidden { display: none; }

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}


// ==============================================================================
// #Links and Buttons
// ==============================================================================

.btn {
  display: inline-block;
  padding: 8px 10px;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  -o-user-select:      none;
  user-select:         none;
  -webkit-appearance: none;
  border-radius: $radius;

  &.btn--small {
    padding: 4px 5px;
    font-size: 0.75em; //12px
  }

  &.btn--full {
    width: 100%;
  }
}

// Force an input/button to look like a text link
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

// ==============================================================================
// #Color
// ==============================================================================
$red: #e62f2f;
$dark-grey: #1D1D1D;
$white: #EEEEEE;
$grey: #4A4A4A;
$soft-grey: #dddddd;
$grey: #606060;
$green: #3FB330;
$orange: #ED8A00;
$blue: #00B0D4;
// ==============================================================================
// #Proxy color
// ==============================================================================
$persoColor1: $dark-grey;
$persoColor2: $red;
$persoColor3: $white;
$border: $grey;
$back-label-vegan: $green;
$back-label-meat: $orange;
$back-label-porc: $blue;
$back-price-value: $soft-grey;
// ==============================================================================
// #Fonts
// ==============================================================================
$great: "Great Vibes";
$cabin: "Cabin";
// ==============================================================================
// #Proxy fonts
// ==============================================================================
$text: $cabin;
$slogan: $great;
// ==============================================================================
// #Style full-visual theme -- RestoReady -- Défault mobile first
// ==============================================================================
// =====================      #layout      ============================================
html, 
body {
  font-family: $text, sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: $persoColor3;
}
h1,
span, 
tbody {
	color: $persoColor3;
}
table, 
tr, 
td, 
th {
  border:0;
}
hr {
  border: solid 1px $persoColor1;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  background-color: $persoColor2;
  color: $persoColor3;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 200px;
  height: 45px;
  font-size: 1.3em;
  transition: color 0.2s;

  &:hover {
    color: $persoColor1;
    transition: color 0.2s;
  }
}
.facebook {
  height: 25px;
  width: 20px;
  background: url(/assets/full-visual-theme/assets/fb.png) no-repeat center;
  display: inline-block;
  margin-bottom: 15px;
}
.twitter {
  height: 25px;
  width: 30px;
  background: url(/assets/full-visual-theme/assets/twitt.png) no-repeat center;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
}
.back-to-menu {
  color: $persoColor3;
  cursor: pointer;
}
.ico {
  width: 100%;
}
.back-to-menu-label {
  clear: both;
  text-align: center;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  transition: color 0.2s;
  font-size: 0.75em;
  color: $persoColor1;
}
.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $persoColor1 transparent;
  display: inline-block;
  margin: 0 10px;
}
.return {
  margin-top: 10px;
}
// ===================== #content styles -- front.liquid ============================================
.footer__infos {
  width: 100%;
  background-color: $persoColor1;
  clear: both;
  padding-top: 20px;
}
// ===================== #nav styles -- _nav.liquid ============================================
.nav-small {
	position: fixed;
  top: 0;
  z-index: 9999;
	width: 100%;
	background-color: $persoColor1;
}
.nav-small__logo {
	padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  img {
    width: 60px;
  }
}
.nav-small__btn {
  display: inline-block;
  right: 30px;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
  div {
    width: 30px;
    height: 5px;
    margin-top: 5px;
    background-color: #FFF;
  }
}
.nav-small__name-resto {
	width: 100%;
  margin-left: 75px;
  top: 16px;
	font-size: 1.2em;
  padding-bottom: 15px;
  position: absolute;
}

.sb-slidebar {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
  position: fixed;
  width: 250px;
  display: none;
  z-index: 99; /* Slidebars sit behind sb-site. */
  background-color: $persoColor1; /* Default Slidebars background colour, overwrite this with your own css. */
}
.sb-right {
  right: 0; /* Set Slidebar to the right. */
  top: 0;
}
.nav-small__list, 
.nav-large__list {
  text-align: left;
  list-style: none;
  margin-top: 40px;
  margin-left: 0;
  border-bottom: solid 2px $border;
}
.nav-small__item, 
.nav-large__item {
    cursor: pointer;
    font-size: 1.2em;
    border-top: solid 2px $border;
    transition: background-color 0.5s;
    font-weight: 200;
    width: 100%;
    &:hover {
      background-color: $persoColor2;
    }
}
.nav-small__item {
  width: 250px;
}
.nav-small__item-links, 
.nav-large__item-links {
  display: inline-block;
  color: $persoColor3;
  text-decoration: none;
  width: 100%;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-large__coordinate {
  padding-bottom: 15px;
  margin-top: 25px;
  width: 200px;
  font-size: 1em;
  font-family: $text;
}
.nav-small__coordinate {
  padding-bottom: 15px;
  margin-top: 25px;
  width: 200px;
  font-size: 1em;
  margin-left: 25px;
  text-align: center;
  font-family: $text;
}
.nav-small__coordinate-number {
  color: $persoColor2;
}
// ===================== #menu styles -- _index.liquid ============================================
.index-header {
  clear: both;
}
.index-header__title {
  color: $persoColor1;
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  margin-left: 15px;
}
// ===================== #menu styles -- _show.liquid ============================================
.menus-number {
  display: block;
  font-size: 2em;
  line-height: 1;
  width: 220px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $text;
  transition: color 0.2s;
  color: $persoColor1;
  &:hover {
    color: $persoColor2;
    transition: color 0.2s;
  }
}
.menus-nav {
  width: 100%;
  position: relative;
  clear: both;
  overflow: hidden;
}
.menus-nav__item {
  width: 50%;
  float: left;
  background-color: $persoColor1;
}
.menus-nav__link {
  display: block;
  position: relative;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s;
  -webkit-transform: translateZ(0);
  &:hover {
    opacity: 1;
  }
}
.menus-nav__image {
  width: 100%;
  display: block;
  position: relative;
} 
.menus-nav__title {
  color: $persoColor3;
  width: auto;
  background-color: $persoColor1;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
  left: 0;
  font-family: $text;
  font-size: 1.5em;
  padding: 5px 5px;
}
// ===================== #menus-food styles -- _menu.liquid ============================================
.menus-food {
  clear: both;
  width: 100%;
  margin-top: 50px;
}
.menus-food__head--featured {
  background-color: $persoColor1;
  color: $persoColor3;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 3px 3px 0 0;
}
.head-menu {
  display: inline-block;
}
.menus-food__content {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 15px;
}
.margin {
  height: 50px;
}
.content-menus-food__title-1 {
  font-size: 2em;
  font-weight: 700;
  display: inline-block;
}
.menu-food__title2 {
  width: auto;
}
.menus-food__featured {
  display: inline-block;
}
.content-menus-food__title-2 {
  font-size: 1.5em;
  color: $persoColor1;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  display: inline;
}
.under-title-1 {
  display: none;
}
.under-title-2 {
  width: 100%;
  margin-left: 0;
}
.content-menus-food__description-title-1 {
  font-size: 1em;
  color: $persoColor1;
  font-style: italic;
}
.content-menus-food__description-title-2 {
  margin-top: 15px;
}
.content-menus-food__description--featured {
  color: $persoColor3;
}
.menus-footer {
  width: 100%;
  margin-top: 25px;
}
.block-grid {
  overflow: hidden;
}
.block-grid--featured {
  border: 6px solid $persoColor1;
  border-radius: 0 3px 3px 3px;
  padding: 0 10px 5px 20px;
  margin-right: 5px;
}
// ===================== #food styles -- _food.liquid ============================================
.dish {
  margin-top: 25px;
  padding-left: 0px;
}
.dish__name {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.dish__name--featured {
  color: $persoColor3;
  display: inline-block;
  background-color: $persoColor1;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.dish__image {
  max-width: 100%;
}
.dish__description-summary {
  font-weight: 500;
}
.dish__description-label {
  margin-bottom: 15px;
  color: $persoColor3;
  margin-top: 15px;
}
.label-new {
  color: $persoColor1;
  border: 3px solid $persoColor2;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  text-align: center;
}
.label-vegan {
  color: $persoColor1;
  border: 3px solid $back-label-vegan;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  text-align: center;
}
.label-no-meat {
  color: $persoColor1;
  border: 3px solid $back-label-meat;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  text-align: center;
}
.label-no-porc {
  color: $persoColor1;
  border: 3px solid $back-label-porc;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  text-align: center;
}
.food-price {
  text-align: right;
}
.food-price__label, 
.food-price__value {
  font-family: $text;
  font-weight: 500;
  font-style: italic;
  color: $persoColor1;
  margin-top: 10px;
}
.food-price__value {
  background-color: $back-price-value;
  border-radius: 3px;
  padding: 3px 3px;
}
// ===================== #terms styles -- _terms.liquid ============================================
.terms-content {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 50px;

  a {
    color: $persoColor2;
  }
}
.terms-title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 25px;
}
.terms-title-level-1 {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 500;
}
.terms-title-level-2 {
  font-size: 1.1em;
}
// ===================== #resto styles -- tenants _show.liquid ============================================
.resto-presentation {
  width: 100%;
}
.resto-presentation__image-wrapper {
  background-color: #000;
}
.resto-presentation__image {
    background: url(/assets/full-visual-theme/assets/restaurant.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
    opacity: 0.7;
}
.resto-presentation__content {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.resto-presentation__title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 25px;
}
.resto-presentation__description {
  margin-bottom: 25px;
}
.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
// ===================== #photos styles -- _photo.liquid ============================================
.gallery-item {
  margin-top: 25px;
}
.gallery-item__image {
  max-width: 99%;
}
.gallery-item__caption {
  font-size: 0.85em;
  font-weight: 700;
  font-style: italic;
}
// ===================== #subscribe-page styles -- subscibers _new.liquid & _thanks.liquid ============================================
.subscribe-page {
  padding-top: 75px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;

  input {
    display: block;
    width: 300px;
    height: 35px;
    margin-top: 25px;
  }
}
.submit-subscriber {
  margin-top: 0px;
}
.subscriber-error {
  color: $persoColor2;
  font-weight: 700;
  text-transform: uppercase;
}
.subscribe-page__title {
  color: $persoColor1;
  font-size: 2em;
  font-weight: 700;
}
.subscribe-page__description {
  padding-bottom: 25px;
  margin-top: 15px;
}
.newsletter-description-oups {
  font-size: 1.5em;
  font-weight: 700;
}
.newsletter-description-error {
  border-left: 5px solid $persoColor2;
  padding-left: 5px;
}
// ===================== #contact-page styles -- message _new.liquid & _thanks.liquid ============================================
.contact-page {
  padding-top: 75px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;

  input, textarea {
    display: block;
    width: 100%;
    height: 35px;
    margin-top: 10px;
  }
  textarea {
    height: 250px;
  }
  label {
    display: block;
    margin-top: 25px;
    font-style: italic;
    font-weight: 500;
  }
}
.contact-page__title {
  color: $persoColor1;
  font-size: 2em;
  font-weight: 700;
}
.contact-page__description {
  padding-bottom: 25px;
  margin-top: 15px;
}
.submit-contact {
  margin-top: 20px;
  float: right;
  width: 150px;
}
// ===================== #footer styles -- _footer.liquid ============================================
.footer,
.contact-footer {
  color: $persoColor3;
  font-family: $text;
}
.footer {
  text-align: center;
  margin-top: -30px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
.social-footer {
  margin-top: 0px;
}
.social-footer__item {
  display: inline-block;
}
.contact-footer__name, 
.socail-footer__title {
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: 500;
}
.contact-footer__street-address, 
.contact-footer__postal-code, 
.contact-footer__address-locality, 
.contact-footer__phone, 
.contact-footer__mail {
  font-weight: 500;
}
.contact-footer__mentions {
  color: mix($persoColor3, $persoColor1, 50%);
}
.contact-footer__phone-link, 
.contact-footer__mail-link {
  text-decoration: none;
}
.subscribe__title {
  color: $persoColor3;
  font-style: italic;
  margin-top: 25px;
}
.subscribers-form {
  margin-top: -10px;
}
.subscribe__email-subscriber {
  width: 70%;
  height: 30px;
}
.subscribe__submit-subscriber {
  margin-top: 15px;
  width: 70%;
}
.footer-link {
  margin-bottom: 15px;
  display: inline-block;
  padding-bottom: 10px;
}
// ===================== Background #img styles -- home.liquid ============================================
.full-background {
	width: 100%;
  height: auto;
  margin-top: 53px;
  display: inline-block;
  background-color: #000;
  position: relative;
}
.full-background__image {
  height: 225px;
  background: url(/assets/full-visual-theme/assets/full-home.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.6;
}
.slogan-wrapper {
  width: 100%;
  position: absolute;
  top: 7%;
  text-align: center;
}
.slogan {
	font-size: 2.5em;
	line-height: 1;
	max-width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: $slogan;
  color: $persoColor3;
  padding-top: 25px;
  padding-bottom: 25px;
}
.home-number {
  display: block;
  font-size: 2em;
  line-height: 1;
  width: 220px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 25px;
  font-family: $text;
  transition: color 0.2s;
  color: $persoColor3;
  &:hover {
    color: $persoColor2;
    transition: color 0.2s;
  }
}
// ===================== Section #week & #new-dish styles -- home.liquid ============================================
.news {
  width: 100%;
}
.week,
.new-dish {
  margin-top: 25px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.week__title, 
.new-dish__title, 
.home-description__title, 
.hours__title {
	font-size: 2em;
	font-weight: 700;
  margin-top: 15px;
}
.week__resume, 
.new-dish__resume {
	font-size: 1.2em;
	font-weight: 500;
	font-style: italic;
  margin-top: 25px;
}
.week__details, 
.new-dish__details {
	font-size: 1em;
	font-weight: 200;
	font-style: italic;
}
.news-footer, 
.presentation-footer {
  max-width: 100%;
  padding-bottom: 1px;
}
.news-footer__btn {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// ===================== Section #presentation styles -- home.liquid ============================================
.presentation {
  width: 100%;
  height: auto;
  background: url(/assets/full-visual-theme/assets/presentation.jpg) no-repeat center;
  background-size: cover;
}
.home-description {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.home-description__summary {
  margin-top: 25px;
  color: $persoColor3;
}
.home-description__title, 
.hours__title {
  color: $persoColor3;
  padding-top: 25px;
}
.presentation-footer__btn {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// ===================== Section #horaires styles -- home.liquid ============================================
.opening-hours {
  width: 100%;
  height: auto;
  background: url(/assets/full-visual-theme/assets/horaires.jpg) no-repeat center;
  background-size: cover;
  margin-top: -15px;
}
.hours {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.hours__title {
  margin-bottom: 25px;
}
.hours__information {
  color: $persoColor3;
  margin-top: 25px;
  font-weight: 500;
  padding-bottom: 25px;
}
.hours__table {
  font-family: $text;
}
.hours__day {
  line-height: 3.5;
}
.hours__day-name {
  font-size: 1.3em;
  text-align: left;
}
.hours__day-shifts {
  font-size: 1.3em;
  padding-left: 25px;
  line-height: 1.2;
  font-style: italic;
}
// ===================== Section #map styles -- home.liquid ============================================
.directions, 
.directions__map-link {
  width: 100%;
  position: relative;
}
.directions__map-image {
  width: 100%;
}
.infos-local__address {
  color: $persoColor1;
  font-size: 1em;
  font-weight: 500;
}
.directions-footer {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.directions-footer__btn {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint small-up - min 480px
// ==============================================================================
@media only screen and (min-width: $small-up) {
  // ===================== #food styles -- _food.liquid ============================================
  .dish {
    padding-right: 25px;
    width: 50%;
    height: auto;
    display: block;
    float: left;
  }
  .label-new,
  .label-vegan,
  .label-no-meat,
  .label-no-porc {
    display: block;
    margin-top: 3px;
  }
  // ===================== #menu styles -- _menu.liquid ============================================
  .block-grid {
    &>li {
      &:nth-of-type(2n+1) {
        clear: left;
      }
    }
  }
  .block-grid--featured {
    padding-right: 0px;
    margin-right: 25px;
  }
  .under-title-2 {
    width: 95%;
  } 
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav__item {
    width: 33.3333333%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -200px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
    /* .push must be the same height as footer */
    height: 175px; 
  }
  // ===================== #week & dish styles -- _home.liquid ============================================
  .news-footer {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .news-footer__btn {
    margin-left: 0;
  }
  // ===================== Section #presentation styles -- home.liquid ============================================
  .presentation-footer {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .presentation-footer__btn {
    margin-left: 0;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint small-up - min 650px
// ==============================================================================
@media only screen and (min-width: 650px) {
  // ===================== #layout ============================================
  hr {
    display: none;
  }
  .under-title-2 {
    display: block;
    width: 97%;
  }
  // ===================== #footer styles -- _footer.liquid ============================================
  .footer {
    width: 100%;
  }
  .contact-footer,
  .newsletter-footer {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-top: 15px;
  }
  .footer-link {
    display: block;
    margin-bottom: 0px;
    text-align: center;
  }
  .subscribe__title {
    margin-top: 10px;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint large - min 1024px
// ==============================================================================
@media only screen and (min-width: $large) {
// ===================== #content styles -- front.liquid ============================================
.footer__infos {
  /* .push must be the same height as footer */
  height: 200px;
}
// ===================== #nav styles -- _nav.liquid ============================================
  .nav-large {
  	width: 300px;
  	height: 100%;
  	background-color: $persoColor1;
  	position: fixed;
  	display: inline-block;
  	margin-left: 75px;
  	text-align: center;
    top: 0;
    z-index: 9999;
  }
  .nav-large__logo {
    padding-top: 15px;
    img {
      width: 200px;
    }
  }
  .nav-large__name-resto {
  	width: 100%;
  	font-size: 1.5em;
  	margin-top: 15px;
  	font-weight: 300;
  }
  .social-nav__item {
    display: inline-block;
  } 
  .nav-large__coordinate {
  	width: 300px;
    margin-top: 50px;
  }
  .nav-large__coordinate-number, 
  .nav-large__coordinate-address {
  	font-size: 1em;
  	font-weight: 200;
  }
  .nav-large__coordinate-number {
  	font-size: 1.4em;
    color: $persoColor2;
  }
// ===================== #menu styles -- _index.liquid ============================================
  .index-header__title {
    margin-left: 400px;
    margin-top: 0px;
    padding-top: 30px;
  }
// ===================== #menu styles -- _show.liquid ============================================
  .menus-number {
    display: none;
  }
  .menus-nav {
    margin-top: 0px;
    width: 60%;
    margin-left: 375px;
  }
  .menus-nav__item {
    width: 33.3333333%;
  }
  // ===================== #food styles -- _food.liquid ============================================
  .dish {
    padding-right: 25px;
    width: 33.3333333%;
    display: block;
    float: left;
    height: auto;
  }
// ===================== #menus-food styles -- _menu.liquid ============================================
  .menus-food {
    width: auto;
  }
  .menus-food__content {
    margin-left: 400px;
  }
  .margin {
    height: 0px;
  }
  .block-grid {
    &>li {
      &:nth-of-type(2n+1) {
        clear: none;
      }
      &:nth-of-type(3n+1) {
        clear: left;
      }
    }
  }
  .under-title-2 {
    width: 63%;
  }
// ===================== #resto styles -- tenants _show.liquid ============================================
  .resto-presentation__content {
    margin-left: 400px;
    margin-right: 0;
    margin-top: 25px;
  }
  .resto-presentation__image {
    height: 500px;
  }
  .gallery {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
// ===================== #terms styles -- _terms.liquid ============================================
  .terms-content {
    margin-left: 400px;
    margin-top: 25px;
  }
// ===================== Background #img styles -- home.liquid ============================================
  .full-background {
    height: 100%;
    margin-top: 0px;
  }
  .full-background__image {
    height: 100%;
  }
  .slogan {
  	font-size: 3em;
  	margin-left: 400px;
  	padding-top: 25%;
  }
  .home-number {
    display: none;
  }
// ===================== Section #week & #new-dish styles -- home.liquid ============================================
  .news {
    width: auto;
  }
  .week,
  .new-dish {
    margin-left: 400px;
    margin-right: 0px;
  }
  .home-description, 
  .hours {
  	margin-left: 400px;
  }
  .news-footer, 
  .presentation-footer, 
  .directions-footer {
    margin-left: 400px;  
  }
// ===================== #map styles -- home.liquid ============================================
  .infos-local {
  max-width: 65%;
  margin-left: 400px;
  display: block;
  bottom: 15%;
 }
 .directions-footer {
  max-width: 50%;
 }
 .directions-footer__btn {
  margin-left: 0;
}
// ===================== #footer styles -- _footer.liquid ============================================
  .subscribe {
    padding-top: 25px;
  }
  .subscribe__email-subscriber {
    width: 300px;
    height: 35px;
    float: left;
    margin: 5px 25px 0 0;
  }
  .footer {
    margin-top: -30px;
    text-align: left;
    margin-left: 400px;
    max-width: 55%;
  }
  .newsletter-footer {
    margin-top: 0px;
    width: 100%;
  }
  .footer-link {
    text-align: left;
  }
  .subscribe__submit-subscriber {
    width: 200px;
    margin-top: 0;
  }
  // ===================== #subscribe-page styles -- subscribers _thanks.liquid ============================================
 .subscribe-page {
    margin-left: 400px;
    padding-top: 25px;
  }
  // ===================== #contact-page styles -- message _new.liquid & _thanks.liquid ============================================
  .contact-page {
    margin-left: 400px;
    padding-top: 25px;
    margin-right: 25px;
    max-width: 60%;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint - min 1200px
// ==============================================================================
@media only screen and (min-width: 1200px) {
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav {
    width: 66%;
  }
  .menus-nav__item {
    width: 33.3333333%;
  }
  .under-title-2 {
    width: 64%;
  }
  // ===================== #food styles -- _food.liquid ============================================
  .label-new,
  .label-vegan,
  .label-no-meat,
  .label-no-porc {
    display: inline;
    margin-top: 0px;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint - min 1350px
// ==============================================================================
@media only screen and (min-width: 1350px) {
// ===================== Background #img styles -- home.liquid ============================================
  .slogan {
    font-size: 3.5em;
    padding-top: 20%;
  }
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav {
    width: 70%;
  }
  .menus-nav__item {
    width: 25%;
  }
  // ===================== #map styles -- home.liquid ============================================
  .infos-local {
    max-width: 75%;
    margin-left: 400px;
    bottom: 12%;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint - min 1500px
// ==============================================================================
@media only screen and (min-width: 1500px) {
// ===================== Background #img styles -- home.liquid ============================================
  .slogan {
    font-size: 3.5em;
  }
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav {
    width: 72%;
  }
  .menus-nav__item {
    width: 25%;
  }
  // ===================== #map styles -- home.liquid ============================================
  .infos-local {
    bottom: 10%;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint - min 1730px
// ==============================================================================
@media only screen and (min-width: 1730px) {
// ===================== Background #img styles -- home.liquid ============================================
  .slogan  {
	   font-size: 4em;
  }
  // ===================== #menu styles -- _show.liquid ============================================
  .menus-nav {
    width: 77%;
  }
  .menus-nav__item {
    width: 25%;
  }
  .under-title-2 {
    width: 65%;
  }
  // ===================== #map styles -- home.liquid ============================================
  .infos-local {
    max-width: 80%;
    margin-left: 400px;
  }
}
// ==============================================================================
// #Style full-visual theme -- Breakpoint - min 1870px
// ==============================================================================
@media only screen and (min-width: 1870px) {
  // ===================== #food styles -- _food.liquid ============================================
  .food-price {
    padding-right: 20px;
  }
}