<section class="page-wrapper page-wrap">
  <section class="page-header page-header--news">
    <div class="wrapper">
      <header class="section__header page-header__header">
        <h1>{{ news.title }}</h1>
      </header>
      <div class="news__date-wrapper"><h5 class="news__date">{{ news.date }}</h5></div>
    </div>
  </section>

  <section class="page-body page-body--news">
    <div class="wrapper">
      <main class="section__main">
        {{ news.content }}
      </main>
    </div>
  </section>
</section>