<section class="page-wrapper page-wrap">
	<section class="page-header page-header--page">
	    <header class="section__header page-header__header">
	      <h1>{{ page.title }}</h1>
	    </header>
	</section>

	<section class="page-body">
	    <main class="section__main">
	      {{ page.content }}
	    </main>
	</section>
</section>