<section class="resto-presentation page-wrap">
<div class="resto-presentation__image-wrapper">
<div class="resto-presentation__image"></div>
</div>
{% if restaurant.phone? %}
    <a class="menus-number" href="tel:{{ restaurant.phone_uri }}">
      {{ restaurant.phone }}
    </a>
{% endif %}
<div class="resto-presentation__content">
  <header>
    <h2 class="resto-presentation__title">{{ "Le restaurant" | t }}</h2>
  </header>
  {% if restaurant.summary? %}
    <div class="resto-presentation__description resto-presentation__description-long" itemprop="description">
      {{ restaurant.summary }}
    </div>
  {% endif %}
  {% if restaurant.main_image? or photos.size > 0 %}
    <div class="gallery grid--full">
      {% if photos.size > 0 %}
        {% for photo in photos %}
          {% include 'photo' with photo:photo %}
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
  </div>
</section>
