<div class="contact-page page-wrap">
	<h2 class="contact-page__title">{{ message_settings.thanks_title }}</h2>
	
	<div id="contact">
	  <img src="/assets/full-visual-theme/assets/valid.png" alt="valide" title="valide" />
	  <div class="contact-page__description">{{ message_settings.thanks_content }}</div>
	  <a href="{{ localized_root_path }}" class="return btn">Retour au site</a>
	</div>
</div>