<div class="contact-page page-wrap">
	<h2 class="contact-page__title">{{ contact_settings.thanks_title }}</h2>
	
	<div id="contact">
	  {{ "valid.png" | asset_url | image_tag }}
	  <div class="contact-page__description">{{ contact_settings.thanks_content }}</div>
	  <a href="{{ localized_root_path }}" class="return btn">Retour au site</a>
	</div>
</div>
